@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.primary-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.background-1 {
    background-color: rgba(84, 144, 245, 0.2);
}

.background-2 {
    background-color: #C6E4D6;
}

.background-3 {
    background-color: #F7EBCF;


}

.background-4 {
    background-color: #5490F5;
}

.background-5 {
    background-color: #09A15C;
}

.background-6 {
    background-color: #FFC239;

}

.primary-font-2 {
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}

.primary-font-3 {
    font-weight: bold;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}

.primary-font-4 {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.primary-font-5 {
    font-weight: bold;
    font-size: 32px;
    color:  rgba(14, 14, 14, 0.8);
}

body {
    padding: 0px 160px;
}

.primary-color {
    background-color: #F1F1F3;
}

.primary-button-1 {
    background-color: #006A50;
    border-radius: 8px;
    opacity: 100%;
    padding: 17px 34px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600px;
}

.primary-button-2 {
    padding: 11px 20px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
}
.primary-button-3 {
    padding: 13px 26px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*nav style*/
.nav-title {
    font-weight: bold;
    font-size: 32px;
}

.nav-btn {
    color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: white;
    border-color: #006A50;
}

/* banner  */
banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 117px 60px;
}

.banner-title {
    font-size: 24px;
    font-weight: 500px;
    color: rgba(14, 14, 14, 0.5);
}

.banner-description {
    font-size: 56px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}

/* pillar section */

main section {
    margin-top: 80px;
    margin-bottom: 80px;
}

.pillars-title {
    margin-bottom: 32px;

}

.pillars {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.pillar {
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

/*vision section*/
.visions-title {
    margin-bottom: 24px;

}

.visions-description {
    margin-bottom: 32px;

}

.visions {
    display: flex;
    justify-content: space-between;
    gap: 24px
}

.vision {
    padding: 24px;
    border-radius: 16px;
}

/* quotes */
.quote-section {

    background-color: #FFFFFF;
    border-radius: 16px;
    background-image: url("../assets/images/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 24px 30px;
    padding: 48px 24px;
}
.quote-owner {
    font-weight: 600;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}

.all-news-description{
    margin-bottom: 32px;
}
.news-container{
    display: flex;
    background-color: #FFFFFF;
    padding: 48px;
    border-radius: 24px;
    align-items: center;
    gap: 32px;
    
}
.date-time{
    display: flex;
    gap: 12px;
}
.news-container .news-image img{
    border-radius: 24px;
}
.news-btn{
    background-color: #006A50;
}

.all-news{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.donate{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.donate-titile,.donate-description{
    text-align: center;
    padding:0px 88px;

}
.donate-amount-button{
    font-size: 40px;
    border-radius: 16px;
    font-weight: bold;
    color:#0E0E0E;
    padding: 40px;
    background-color: #FFFFFF;
    border: none;
}
.donate-amount{
    display: flex;
    flex-direction: row;
    gap:24px;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    
}
.two-hundred-taka-button{
    background-color: #C6E4D6 ;
}
.donate-other-amount{
    display: flex;
    justify-content: center;
    align-items: center;
}
textarea {
    margin:32px 0px;
    width: 1032px;
    height: 64px;
    padding: 0;
    font-size: 20px; 
    text-align: center;
    line-height: 64px;
    border: none;
    box-sizing: border-box;
    resize: none;
    outline: none; 
    font-family: Arial, sans-serif;
    color: #000;
}

textarea::placeholder {
    text-align: center;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
    font-family: "Work Sans", serif;
}

.donate-button{
    background-color: #006A50;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    padding :17px 34px;
    border-radius: 8px;
    border: none;

}
